In [10]:
import pandas as pd

df = pd.read_csv("./sports.csv", low_memory=False)

In [11]:
df.describe()

,year,unitid,zip_text,classification_code,ef_male_count,ef_female_count,ef_total_count,sector_cd,sportscode,partic_men,...,partic_coed_men,partic_coed_women,sum_partic_men,sum_partic_women,rev_men,rev_women,total_rev_menwomen,exp_men,exp_women,total_exp_menwomen
count,132327.000000,132327.000000,1.322820e+05,132327.000000,132327.000000,132327.000000,132327.000000,132327.000000,132327.000000,61865.000000,...,767.000000,767.000000,132327.000000,132327.000000,6.186500e+04,6.888300e+04,8.713400e+04,6.186500e+04,6.888500e+04,8.713600e+04
mean,2017.680164,184360.439238,4.200492e+07,7.779335,2126.251808,2496.211166,4622.462974,2.210297,16.342666,30.861731,...,11.046936,14.166884,14.492386,10.862152,8.090110e+05,2.793463e+05,7.952313e+05,6.623858e+05,3.315942e+05,7.324225e+05
std,1.485539,56064.628316,1.586055e+08,4.889662,3014.380488,3276.053275,6228.143610,2.103132,10.567505,29.361111,...,11.852240,13.837203,25.296181,17.153896,4.885977e+06,4.263209e+05,4.180177e+06,2.678179e+06,5.433686e+05,2.422614e+06
min,2015.000000,100654.000000,6.040000e+02,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.000000,0.000000,6.500000e+01,0.000000e+00,1.300000e+02,6.500000e+01,6.500000e+01,1.300000e+02
25%,2016.000000,149781.000000,2.328400e+04,4.000000,513.000000,652.000000,1194.000000,1.000000,7.000000,13.000000,...,4.000000,5.000000,0.000000,0.000000,6.342800e+04,5.874550e+04,9.629900e+04,6.306200e+04,5.930100e+04,9.643575e+04
50%,2018.000000,181738.000000,4.910400e+04,6.000000,986.000000,1248.000000,2259.000000,2.000000,16.000000,22.000000,...,8.000000,10.000000,0.000000,6.000000,1.581260e+05,1.383180e+05,2.287755e+05,1.596660e+05,1.418000e+05,2.345590e+05
75%,2019.000000,214069.000000,7.954900e+04,12.000000,2385.000000,2860.000000,5237.000000,2.000000,25.000000,35.000000,...,14.000000,19.000000,20.000000,17.000000,4.006040e+05,3.311195e+05,5.418755e+05,4.240250e+05,3.618600e+05,5.856035e+05
max,2019.000000,800001.000000,9.977575e+08,20.000000,35954.000000,30325.000000,66279.000000,99.000000,38.000000,331.000000,...,130.000000,91.000000,331.000000,327.000000,1.561472e+08,2.144036e+07,1.561472e+08,6.971806e+07,9.485162e+06,6.971806e+07

In [53]:
# get just the columns we care about
df_filtered = df[["year", "unitid", "sportscode", "sum_partic_men", "sum_partic_women", "exp_men", "exp_women", "total_exp_menwomen"]].copy()
df_filtered.describe()

,year,unitid,sportscode,sum_partic_men,sum_partic_women,exp_men,exp_women,total_exp_menwomen
count,132327.000000,132327.000000,132327.000000,132327.000000,132327.000000,6.186500e+04,6.888500e+04,8.713600e+04
mean,2017.680164,184360.439238,16.342666,14.492386,10.862152,6.623858e+05,3.315942e+05,7.324225e+05
std,1.485539,56064.628316,10.567505,25.296181,17.153896,2.678179e+06,5.433686e+05,2.422614e+06
min,2015.000000,100654.000000,1.000000,0.000000,0.000000,6.500000e+01,6.500000e+01,1.300000e+02
25%,2016.000000,149781.000000,7.000000,0.000000,0.000000,6.306200e+04,5.930100e+04,9.643575e+04
50%,2018.000000,181738.000000,16.000000,0.000000,6.000000,1.596660e+05,1.418000e+05,2.345590e+05
75%,2019.000000,214069.000000,25.000000,20.000000,17.000000,4.240250e+05,3.618600e+05,5.856035e+05
max,2019.000000,800001.000000,38.000000,331.000000,327.000000,6.971806e+07,9.485162e+06,6.971806e+07

In [56]:
# find entries that are present in both years' datasets
# do this by comparing unitid and sportscode

df_2015 = df_filtered[df_filtered["year"] == 2015]
unitids_2015 = list(df_2015["unitid"])
sportscode_2015 = list(df_2015["sportscode"])

df_2019 = df_filtered[df_filtered["year"] == 2019]
unitids_2019 = list(df_2019["unitid"])
sportscode_2019 = list(df_2019["sportscode"])

df_filtered = df_filtered[
    ((df_filtered["year"] == 2015) & (df_filtered["unitid"].isin(unitids_2019)) & (df_filtered["sportscode"].isin(sportscode_2019)))
     |
    ((df_filtered["year"] == 2019) & (df_filtered["unitid"].isin(unitids_2015)) & (df_filtered["sportscode"].isin(sportscode_2015)))
]

df_filtered

,year,unitid,sportscode,sum_partic_men,sum_partic_women,exp_men,exp_women,total_exp_menwomen
0,2015,100654,1,31,0,397818.0,NaN,397818.0
1,2015,100654,2,19,16,817868.0,742460.0,1560328.0
2,2015,100654,3,61,46,246949.0,251184.0,498133.0
3,2015,100654,7,99,0,3059353.0,NaN,3059353.0
4,2015,100654,8,9,0,83913.0,NaN,83913.0
...,...,...,...,...,...,...,...,...
132322,2019,800001,15,30,21,652950.0,357251.0,1010201.0
132323,2019,800001,16,0,19,NaN,381402.0,381402.0
132324,2019,800001,19,17,17,281726.0,237917.0,519643.0
132325,2019,800001,26,0,19,NaN,402135.0,402135.0
132326,2019,800001,28,24,23,259794.0,241066.0,500860.0

In [57]:
# engineer new columns
df_engineered = df_filtered[["year", "unitid", "sportscode"]].copy()
df_engineered["perc_partic_men"] = df_filtered["sum_partic_men"] / (df_filtered["sum_partic_men"] + df_filtered["sum_partic_women"])
df_engineered["perc_exp_men"] = df_filtered["exp_men"] / df_filtered["total_exp_menwomen"]
df_engineered

        year  unitid  sportscode  perc_partic_men  perc_exp_men
0       2015  100654           1         1.000000      1.000000
1       2015  100654           2         0.542857      0.524164
2       2015  100654           3         0.570093      0.495749
3       2015  100654           7         1.000000      1.000000
4       2015  100654           8         1.000000      1.000000
...      ...     ...         ...              ...           ...
132322  2019  800001          15         0.588235      0.646357
132323  2019  800001          16         0.000000           NaN
132324  2019  800001          19         0.500000      0.542153
132325  2019  800001          26         0.000000           NaN
132326  2019  800001          28         0.510638      0.518696

[76109 rows x 5 columns]

In [85]:
# make combined df
df_final = df_engineered[df_engineered.year == 2015].copy()
df_final = df_final[["unitid", "sportscode"]]
df_final["pp_men_2015"] = df_engineered[df_engineered["year"] == 2015]["perc_partic_men"]
df_final["pp_men_2019"] = df_engineered[df_engineered["year"] == 2015][["unitid", "sportscode"]].apply(lambda x: df_engineered[
    (df_engineered["year"] == 2019)
    &
    (df_engineered["unitid"] == x["unitid"])
    &
    (df_engineered["sportscode"] == x["sportscode"])
]["perc_partic_men"], axis=1)
df_final

ValueError: Wrong number of items passed 16702, placement implies 1

In [82]:
df_engineered[df_engineered["year"] == 2015][["unitid", "sportscode"]].apply(lambda x: x["unitid"] + x["sportscode"], axis=1)

0        100655
1        100656
2        100657
3        100661
4        100662
          ...
17340    800016
17341    800017
17342    800020
17343    800027
17344    800029
Length: 17024, dtype: int64